{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title> Akispres </title>
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="preload" href="{% static 'css/theme.css' %}" as="style">
    <link rel="preload" href="{% static 'js/theme.js' %}" as="script">
</head>
<body>
    
   <div class="news-card" >
   <h1> Akispres-Главный новостной сайт</h1>
   <div id="clock" style="text-align:left; font-size:22px; margin-top:14px;"></div>
   <div class="theme-indicator" onclick="toggleTheme()" style="cursor: pointer;">
    <span id="theme-text" style="font-size: 18px; font-weight: bold;"></span>
   </div>
   </div>

   

    <div class="news-container">
        {% for news in news %}
        <div class="news-card">
            <h2>{{ news.title }}</h2>

            {% if news.news_image %}
                <img src="{{ news.news_image.url }}" alt="{{ news.title }}">
            {% else %}
                <p><i>Фото нет</i></p>
            {% endif %}

            <p> {{ news.description|truncatewords:5 }}... </p>
            <p>Дата создания: {{ news.created_at }}</p>
            <p>Просмотры: {{ news.views_count }}</p>

            <form action="{% url 'news_detail' news.id %}" method="post">
                {% csrf_token %}
                <button>Подробнее</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="footer">
        <p>Подробнее о нас: +76 444 55 666</p>
    </div>

    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
